<div class="navbar">
    <ul>
        <li><a href="/home">Public Page</a></li>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/addProduct">Add Product</a></li>
        <li style="float:right"><a style="color: red;" href="/admin/logout">Logout</a></li>
    </ul>
</div>